<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>
    <h1 th:text="${contacto}">Página de Contacto</h1>

    <ul>
        <li>
            <h1>GOL</h1>
        </li>
    </ul>

    <ul>
        <li>
            <a href="#" th:href="@{/}"><span>Pepephone</span></a>
        </li>
        <li>
            <a href="#" th:href="@{/que}"><span>Quiénes somos</span></a>
        </li>
    </ul>
</body>
</html>