<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacto</title>
</head>
<body>
    <h1 th:text="${contacto}">Página de Contacto</h1>

    <ul>
        <li>
            <h3 th:text="${pais}"></h3>
        </li>
        <li>
            <h3 th:text="${horario}"></h3>
        </li>
    </ul>

    <ul>
        <li>
            <a href="#" th:href="@{/}"><span>Pepephone</span></a>
        </li>
        <li>
            <a href="#" th:href="@{/que}"><span>Quiénes somos</span></a>
        </li>
    </ul>
</body>
</html>