<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiénes somos</title>
</head>
<body>
<h3 th:text="${empresa}">Quiénes somos</h3>
<p>En 2007 decidimos que queríamos cambiar las reglas del juego de las operadoras de telecomunicaciones.
    <br>Que tu tiempo era nuestro tiempo y que queríamos ofrecerte un buen servicio a un precio justo y con principios.
    <br>Formamos parte del Grupo MÁSMÓVIL y funcionamos como operador móvil virtual (OMV),
    con cobertura tanto en España como en el resto del mundo gracias a la red Yoigo.
</p>
<ul>
    <li>
        <a href="#" th:href="@{/}"><span>Pepephone</span></a>
    </li>
    <li>
        <a href="#" th:href="@{/contacto}"><span>Contactos</span></a>
    </li>
</ul>
</body>
</html>