<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head::encabezado(~{::title}, ~{})">
    <title>Formulario</title>
</head>

<body>
<nav th:replace="fragmentos/navbar::navbar"></nav>

</nav>
<form method="post" action="#"
      th:action="${modoEdicion} ? @{/mascota/edit/submit} : @{/mascota/new/submit}"
      th:object="${mascotaDto}">
    <h4 th:text="${modoEdicion} ? 'Editar mascota' : 'Nueva mascota'">Nueva mascota</h4>
    <div>
        <div class="input-group mb-3"
             th:classappend="${#fields.hasErrors('id')} ? 'has-error'">
            <label class="form-label" for="id" >Id</label>
            <input class="form-control" type="number" id="id" placeholder="id" th:field="*{id}"
                   th:attrappend="readonly=${mascotaDto.id != null and modoEdicion} ? 'readonly' : null" />
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
                  class="help-block" id="id-error">Errores</span>
        </div>
        <div class="input-group mb-3"
             th:classappend="${#fields.hasErrors('nombre')} ? 'has-error'">
            <label class="form-label" for="nombre" th:text="#{mascota.form.nombre}">Nombre</label>
            <input class="form-control" type="text" id="nombre" placeholder="Nombre" th:field="*{nombre}" />
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                  class="help-block" id="nombre-error">Errores</span>
        </div>
        <div class="input-group mb-3"
             th:classappend="${#fields.hasErrors('fechaNacimiento')} ? 'has-error'">
            <label class="form-label" for="fechaNac" >Fecha Nac.</label>
            <input class="form-control" type="date" id="fechaNac" placeholder="Fecha nac." th:field="*{fechaNacimiento}" />
            <span th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"
                  class="help-block" id="fechaNacimiento-error">Errores</span>
        </div>
        <div class="input-group mb-3">
            <label class="form-label" for="numChip" >Núm chip</label>
            <input class="form-control" type="text" id="numChip" placeholder="Núm Chip" th:field="*{numChip}" />
        </div>
<!--    Versión sin radio button
        <div>
            <label for="tipo" >Tipo</label>
            <input type="text" id="tipo" placeholder="Tipo" th:field="*{tipo}" />
        </div>-->

        <!-- versión con radiobutton para seleccionar mascota -->
        <!--
        <div th:each="tipo : ${T(es.carlosgs.demoentidades.TipoMascota).values()}">
            <div>
                <input type="radio" th:field="*{tipo}" th:value="${tipo}" >
                <label th:for="${#ids.prev('tipo')}"
                       th:text="${tipo}">tipo mascota</label>
            </div>
        </div>
        -->

        <!-- versión con select -->
        <div class="form-select"
             th:classappend="${#fields.hasErrors('tipo')} ? 'has-error'">
            <select th:field="*{tipo}">
                <option value="" selected>seleccione tipo mascota</option>
                <option th:each="tipo : ${T(es.danielpr.demo9fragmentos.entidades.TipoMascota).values()}"
                         th:value="${tipo}" th:text="${tipo}"></option>
            </select>
            <span th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"
                  class="help-block" id="tipo-error">Errores</span>
        </div>

        <div class="mb-3">
            <label class="form-check-label" for="vacunada">Está vacunada</label>
            <input class="form-check-input" type="checkbox" id="vacunada" th:field="*{vacunada}">
        </div>




    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>
