<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head::encabezado(~{::title}, ~{::link})">
    <title>Listado</title>

    <!-- Estilo propio -->
    <link th:href="@{/css/list.css}" rel="stylesheet">
</head>

<body>

<nav th:replace="fragmentos/navbar::navbar"></nav>

<div class="container-fluid">
    <div class="card">
        <h3>Lista de mascotas</h3>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha Nacimiento</th>
                    <th>Núm Chip</th>
                    <th>Tipo</th>
                    <th>Vacunada</th>
                    <th>Operaciones</th>
                </thead>
                <tbody>
                <tr th:each="mascota : ${listaMascotas}">
                    <td th:text="${mascota.id}">ID</td>
                    <td th:text="${mascota.nombre}">Nombre</td>
                    <td th:text="${mascota.fechaNacimiento}">Malu/td>
                    <td th:text="${mascota.numChip}">00000</td>
                    <td th:text="${mascota.tipo}">RATA</td>
                    <td>
                        <span th:if="${mascota.vacunada}" th:text="Sí">Sí</span>
                        <span th:unless="${mascota.vacunada}" th:text="No">No</span>
                    </td>
                    <td>
                        <a th:href="@{/mascota/edit/{id}(id=${mascota.id})}" aria-label="Editar">
                            <span class="fas fa-edit" aria-hidden="true"></span></a>
                        <a href="#" data-bs-toggle="modal" th:data-bs-target="'#delete-modal_' + ${mascota.id}" aria-label="Borrar">
                            <span class="fas fa-trash" aria-hidden="true"></span></a>
                    </td>

                    <!-- div para el modal -->
                    <div class="modal fade" th:id="'delete-modal_' + ${mascota.id}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Borrar mascota</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Confirma el borrado de esta mascota?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <a th:href="@{/mascota/delete/{id}(id=${mascota.id})}" class="btn btn-primary">Aceptar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<th:block th:replace="fragmentos/js-final::jsfinal(~{::script})">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/mascot.js}"></script>
</th:block>
</body>
</html>
